<% include header %>

 <main>
   <!--==========================
      Syllabus For DSAT
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header" style="padding-top: 50px">
          <h3>About DSAT</h3>
          <p>Data science aptitude is based on Sternberg Theory  of intelligence and aims to evaluate “Analytical Intelligence of the candidate .Analytical Intelligence is the kind of intelligence which helps one in decipher complex scenarios and draw patterns out of it.</p>
        </header>

        <header class="section-header" style="padding-top: 50px">
          <h3>Syllabus</h3>
          <p>
              DSAT will evaluate Analytical Intelligence by checking following behavior traits
            </p>
        </header>

        <div class=" row about-container">

          <div class="col-lg-12 content" style="float: left;" >          
            
			<!-- • Clarity of thoughts
			• Critical thinking
			• Communication: How well one can understand and interpret English language
			• Judgement and inference drawing : How well one can draw inference from given information /data
				• Problem solving -->
				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s" style="margin: 0 auto;">
	              <div class="icon"><i class="fas fa-brain"></i></div>
	              <h4 class="title"><a href="">Clarity Of Thoughts.</a></h4>
	              <p class="description">The mode of classes presently is offline weekend/regular classes, with 4 hours of standard classes and 2-3 hours of practise in weekend and 2  hours for regular classes and 1 hour practise.</p>
	            </div>

	            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
	              <div class="icon"><i class="fas fa-brain"></i></div>
	              <h4 class="title"><a href="">Critical thinking</a></h4>
	              <p class="description">The mode of classes presently is offline weekend/regular classes, with 4 hours of standard classes and 2-3 hours of practise in weekend and 2  hours for regular classes and 1 hour practise.</p>
	            </div>
	            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
	              <div class="icon"><i class="fas fa-brain"></i></div>
	              <h4 class="title"><a href="">Problem solving</a></h4>
	              <p class="description">The mode of classes presently is offline weekend/regular classes, with 4 hours of standard classes and 2-3 hours of practise in weekend and 2  hours for regular classes and 1 hour practise.</p>
	            </div>
	            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
	              <div class="icon"><i class="fas fa-brain"></i></div>
	              <h4 class="title"><a href="">Communication: How well one can understand and interpret English language</a></h4>
	              <p class="description">The mode of classes presently is offline weekend/regular classes, with 4 hours of standard classes and 2-3 hours of practise in weekend and 2  hours for regular classes and 1 hour practise.</p>
	            </div>

	             <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
	              <div class="icon"><i class="fas fa-brain"></i></div>
	              <h4 class="title"><a href="">Judgement and inference drawing : How well one can draw inference from given information /data</a></h4>
	              <p class="description">The mode of classes presently is offline weekend/regular classes, with 4 hours of standard classes and 2-3 hours of practise in weekend and 2  hours for regular classes and 1 hour practise.</p>
	            </div>
             </div>
          </div>
      </div>
    </section>
    		<form action="/purchase" method="POST">
<!-- Note that the amount is in paise = 50 INR -->
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="<YOUR_KEY_ID>"
    data-amount="5000"
    data-buttontext="Pay with Razorpay"
    data-name="Merchant Name"
    data-description="Purchase Description"
    data-image="https://your-awesome-site.com/your_logo.jpg"
    data-prefill.name="Gaurav Kumar"
    data-prefill.email="test@test.com"
    data-theme.color="#F37254"
></script>
<input type="hidden" value="Hidden Element" name="hidden">
</form>

      </main>
<% include ./partials/footer %>