<% include header %>

<main>
   <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header" style="padding-top: 50px">
          <h3>FAQs</h3>
          <p>Frequently asked Questions</p>
        </header>

        <div class="row about-container">

          <div class=" content order-lg-1 order-2 " style="margin:0 auto;">
            
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">What is the Course?</a></h4>
              <p class="description">It is the data science course involving various data technologies and tools involving data visualisation and business analytics tools.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">What will be the duration of course?</a></h4>
              <p class="description">It will take around 4.5 months offilne course and plus 2 months of internship, depending on how fast you grab and learn.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fas fa-brain"></i></div>
              <h4 class="title"><a href="">What will be the mode and days of classes as I have little leftover time from my studies/job?</a></h4>
              <p class="description">The mode of classes presently is offline weekend/regular classes, with 4 hours of standard classes and 2-3 hours of practise in weekend and 2  hours for regular classes and 1 hour practise.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">What will be the fees and mode of payment?</a></h4>
              <p class="description">We are taking very modest fees according to existing market offerings , it is 1,00,000-1,10,000 for 1st time with option of loans and part fees in 2 installments with 55k-50k for 1st installment and then 55k-50k for 2nd time, within 2 months after starting the course.(GST excluded)</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">What about faculty?</a></h4>
              <p class="description">We have a trainers who train in corporate sectors with relevant most helpful content prevailing in current times and in demand for industry.Apart from the theoretical concepts they practise the real time case studies of our past projects so to gain insights abourt the industry workings.</p>
            </div>


            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">What about the stipend /placements/job guarantee?</a></h4>
              <p class="description">We cant promise you false things but our past batch is successfully interning with us and is pretty much satisfied and happy about what they learn and done by practising with our trainers. Plus we have all the trainers which are working professionals and  experience data scientist and  continuosly chat with students about the industry trends what to learn and aspire so to make them confident of placing them with the profile they want. The Stipend will be provided on internship would be minimum of 5k.</p>
            </div>

             <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">Can you give us the numbers of past students?</a></h4>
              <p class="description">As for privacy concerns we usually ask the students before circulating there numbers but our past batch students are more than happy sharing there learnings and help you take decision .</p>
            </div>

             <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fas fa-brain"></i></div>
              <h4 class="title"><a href="">What is the after course support in terms of more learnings doubt sessions?</a></h4>
              <p class="description">Our trainers are more than available to be available for students making thermselves clear and in process also helps them take analogy better for students so you can rais equeries with groups create for students specially for this on common platform like whatsapp and telegram.</p>
            </div>
          </div>

         
        </div>
    </section>



      </main>
<% include ./partials/footer %>