<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The IkiGai Lab</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/favicon.png" rel="apple-touch-icon">
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/lib/popper.min.js"></script>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- <link href="lib/font-awesome/css/fontawesome.min.css" rel="stylesheet"> -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
  <link rel="stylesheet" type="text/css" href="css/my-login.css">



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135010940-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135010940-1');
</script>
 
</head>

<body>

  <!-- ==========================
  Header
  ============================-->
  <header id="header" class="fixed-top" style="height:90px; ">
    <div class="container">


      <div class="logo float-left">
        <a href="/" class="scrollto"><img src="img/ikigai_logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav  float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/" style="padding-top: 15px;">Home</a></li>
          <li><a href="/#services"style="padding-top: 15px;" >How it Works!</a></li>
          <li><a href="/#portfolio"style="padding-top: 15px;">Programs</a></li>
          <li><a href="aboutUs" style="padding-top: 15px;">About Us</a></li>
          <li><a href="/dsat" style="padding-top: 15px;"><strong>Register for DSAT</strong></a></li>
          <li><a href="faq" style="padding-top: 15px;">FAQ</a></li> 
           <% if(!user){ %>
             <ul class="nav navbar-nav ml-auto">
                <li class="nav-item <%= (title === 'Login') ? 'active' : undefined %>" style="padding-top: 5px;">
                  <a class="nav-link" href="/login">Sign In</a>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 15px !important;">
                      <% if(user.profile.picture){ %>
                        <img src="<%=user.profile.picture%>" width="37" height="37"/>
                        <% } else { %>
                        <img src="<%= user.gravatar(30) %>"/>
                        <% } %>
                        <span><%= user.profile.firstname || user.email || user.id %></span>                         
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #132739;">
                       <a class="dropdown-item" href="/dash" >Dashboard</a>
                        <a class="dropdown-item" href="/account">My Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                    </li>
                    <% } %>
                  </ul>          
       </ul>
      </nav> <!-- .main-nav -->


      
    </div>
  </header>  
